.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/Music-notes2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(134, 6, 6);
}


input{
    margin-right: 7px;
    margin-left: 15px;
}

