.jumbotron {
    margin-bottom: 0px;
    background-image: url(../images/Music-notes2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(134, 6, 6);
}

.jumbotron h1{
    font-family: 'New Rocker', cursive;
    font-size: 85px;
    margin-top: 40px;
    margin-left: 80px;
}
input{
    margin-right: 7px;
    margin-left: 15px;
}
.jumbotron p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.btn {
    margin-left: 350px;
    margin-top: 35px;
    font-family: 'New Rocker', cursive;
    font-size: 25px;
}
#start-game {
    color: white;
}
#timer h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(134, 6, 6);
}
#quiz h4{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
#done{
    color: white;
}
#results h3{
    font-family: 'New Rocker', cursive;
    color: rgb(134, 6, 6);
    font-size: 28px;
}
#results h4{
    font-family: 'New Rocker', cursive;
    font-size: 25px;
    text-decoration: underline;
}
#results h5{
    font-family: 'Roboto', sans-serif;
    color: rgb(134, 6, 6);
}
